<!DOCTYPE html>
<html>

<head>
    <title>API</title>
    <meta charset="utf-8">
</head>

<body background="">
    <table border="1" width="900" align="center">
        <tr>
            <td>
                <h1 align="center">API</h1>
            </td>
            <td align="right">
                <a href="index.html">Consultar</a>
                <a href="Cadastrar.html"> Cadastrar</a>
                <a href="Atualizar.html">Atualizar </a>
                <a href="Deletar.html">Deletar</a>
                <a href="index.html">Sair</a>
            </td>
        <tr>
            <td colspan="2">
                <h2>Cadastro</h2>
                <form action="cadastro.py" padding="2px">
                    <p>Nome Completo</p>
                    <input type="text" name="nome_completo">
                    <P>CPF</P>
                    <input type=" text" name="cpf"><br>

                    <input type="submit" value=" Atualizar">
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <h4>Todos os direitos Reservados</h4>

            </td>
        </tr>
        </tr>
    </table>