<!DOCTYPE html>
<html>

<head>API</head>

<body>
    <form>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nome Completo</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="1 José da Silva">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">CPF</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="123.456.789/10">
            </div>
            <button type="submit" class="btn btn-primary">Consultar</button>
            <button type="submit" class="btn btn-primary">Consultar por Id</button>
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <button type="submit" class="btn btn-primary">Deletar</button>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
</body>

</html>